.masonry {
  margin: 0px 10px;
  columns: 3;
  column-gap: 16px;
}

@media (max-width: 1200px) {
  .masonry {
    columns: 2;
  }
}

@media (max-width: 992px) {
  .masonry {
    columns: 1;
  }
}

.masonry .grid {
  display: inline-block;
  margin-bottom: 16px;
  position: relative;
}

.masonry .grid:before {
  border-radius: 5px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.masonry .grid img {
  width: 100%;
  border-radius: 5px;
}
