@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  color: rgb(43, 43, 43);
  
  margin: 10px;
  margin: 10px;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

#Brand {
  font-family: 'Lobster', cursive;
}

html {

}

ul {
  writing-mode: vertical-lr;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 14vh;
  grid-auto-flow: dense;
}

li {
  display: block;
  overflow: hidden;
  writing-mode: horizontal-tb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh;
}

h1 {
  font-family: 'Modak', cursive;
  font-size: 16vh;
  margin-top: 3vh;
}

p {
  text-align: center;
  font-family: 'Carter One', cursive;
  font-size: 3.5vh;
}

.span2 {
  grid-row-end: span 2;
}

.span3 {
  grid-row-end: span 3;
}

.span4 {
  grid-row-end: span 4;
}

.span5 {
  grid-row-end: span 5;
}

.span6 {
  grid-row-end: span 6;
}

.height2 {
  grid-column-end: span 2;
}

@media (max-height:500px) {
  ul {
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 18vh;
  }

  h1 {
    font-size: 21vh;
    margin-top: 4vh;
  }

  p {
    font-size: 4.5vh;
  }
}

@media (max-height:400px) {
  ul {
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 22vh;
  }

  h1 {
    font-size: 25vh;
    margin-top: 5vh;
  }

  p {
    font-size: 5.7vh;
  }
}