@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: rgb(43, 43, 43);
  overscroll-behavior: none;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}
#Brand {
  font-family: 'Prata', serif;
}

.sliders ul {
  padding-left: 1rem;
  list-style: none;
}

.demo-gallery:not(.last) {
  padding-bottom: 1rem;
}

.demo-text .text {
  font-size: clamp(8rem, 15vw, 16rem);
  line-height: 1;
  font-weight: 900;
}