@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --background: #f3a683;
  --base: rgb(43, 43, 43);
  --accent: #786fa6;
  --shadow: #e77f67;
}

#Brand {
  font-family: 'Lobster', cursive;
}

.Nav {
  background-color: #d7d6d3;
}

.cool {
  font: bolder 10rem sans-serif;
  font-family: 'Prata', serif;
}

.cool span {
  color: var(--shadow);
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.cool span:nth-child(1)::before,
.cool span:nth-child(1)::after {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.cool span:nth-child(2)::before,
.cool span:nth-child(2)::after {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.cool span:nth-child(3)::before,
.cool span:nth-child(3)::after {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

@media (prefers-reduced-motion) {
  .cool span {
    color: var(--base);
  }
}

.cool span::before {
  -webkit-animation: max-height 2s cubic-bezier(0.61, 1, 0.88, 1) 1 normal both;
  animation: max-height 2s cubic-bezier(0.61, 1, 0.88, 1) 1 normal both;
  color: var(--accent);
}

.cool span::after {
  -webkit-animation: max-width 4s cubic-bezier(0.61, 1, 0.88, 1) 1 normal both;
  animation: max-width 4s cubic-bezier(0.61, 1, 0.88, 1) 1 normal both;
  color: var(--base);
}

.cool span::before,
.cool span::after {
  content: attr(data-text);
  left: 0;
  overflow: hidden;
  position: absolute;
}

@media (prefers-reduced-motion) {

  .cool span::before,
  .cool span::after {
    -webkit-animation: none;
    animation: none;
    content: "";
  }
}

@-webkit-keyframes max-width {
  from {
    max-width: 0;
  }

  to {
    max-width: 100%;
  }
}

@keyframes max-width {
  from {
    max-width: 0;
  }

  to {
    max-width: 100%;
  }
}

@-webkit-keyframes max-height {
  from {
    max-height: 0;
  }

  to {
    max-height: 100%;
  }
}

@keyframes max-height {
  from {
    max-height: 0;
  }

  to {
    max-height: 100%;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');

header {
  height: 200vh;
}

.container {
  /* hide fixed overflow contents */
  clip: rect(0, auto, auto, 0);

  /* does not work if overflow = visible */
  overflow: hidden;

  /* only works with absolute positioning */
  position: absolute;

  /* Make sure containers are full-width and height */
  height: 100vh;
  left: 0;
  width: 100%;


  /* safari hack */
  -webkit-mask-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
}

.container_solid {
  background: white;

  /* position this container at the top of its parent element */
  top: 0;
}

.title_wrapper {
  position: fixed;
  display: block;
  margin: auto;
  width: 100%;
  /* center the text wrapper vertically */
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.title_wrapper h1 {
  text-align: center;
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Fraunces', serif;
  font-weight: 900;
}

.container_solid .title_wrapper h1 {
  /* the text background */
  background: url(https://images.unsplash.com/photo-1575058752200-a9d6c0f41945?&q=85);
  background-size: 100vw auto;
  background-position: center;

  /* clip the text is possible */
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

  /* fallback text color */
  color: black;
}

.container_image {
  /* Grab a free image from unsplash */
  background-image: url(https://images.unsplash.com/photo-1575058752200-a9d6c0f41945?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
  background-size: 100vw auto;
  background-position: center;
  background-attachment: fixed;

  /* position the second container below the first container */
  top: 100vh;
}

.container_image .title_wrapper h1 {
  color: white;
}

section {
  min-height: 100vh;
  padding: 2em;
  margin: auto;
  max-width: 800px;
}

section h2 {
  font-family: 'Fraunces', serif;
}

section p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}